TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.deps.json
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.dll
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.exe
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.pdb
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.runtimeconfig.dev.json
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.runtimeconfig.json
TasarimDesenleri/abstractV1/bin/Debug/net5.0/ref/abstractV1.dll
TasarimDesenleri/abstractV1/obj/abstractV1.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV1/obj/abstractV1.csproj.nuget.g.props
TasarimDesenleri/abstractV1/obj/abstractV1.csproj.nuget.g.targets
TasarimDesenleri/abstractV1/obj/project.assets.json
TasarimDesenleri/abstractV1/obj/project.nuget.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.AssemblyInfo.cs
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.assets.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.csproj.AssemblyReference.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.csproj.CoreCompileInputs.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.csproj.FileListAbsolute.txt
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.dll
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.genruntimeconfig.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.pdb
TasarimDesenleri/abstractV1/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/abstractV1/obj/Debug/net5.0/ref/abstractV1.dll
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.deps.json
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.dll
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.exe
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.pdb
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.runtimeconfig.dev.json
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.runtimeconfig.json
TasarimDesenleri/abstractV2/bin/Debug/net5.0/ref/abstractV2.dll
TasarimDesenleri/abstractV2/obj/abstractV2.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV2/obj/abstractV2.csproj.nuget.g.props
TasarimDesenleri/abstractV2/obj/abstractV2.csproj.nuget.g.targets
TasarimDesenleri/abstractV2/obj/project.assets.json
TasarimDesenleri/abstractV2/obj/project.nuget.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.AssemblyInfo.cs
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.assets.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.csproj.AssemblyReference.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.csproj.CoreCompileInputs.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.csproj.FileListAbsolute.txt
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.dll
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.genruntimeconfig.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.pdb
TasarimDesenleri/abstractV2/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/abstractV2/obj/Debug/net5.0/ref/abstractV2.dll
TasarimDesenleri/abstractV3/obj/abstractV3.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV3/obj/abstractV3.csproj.nuget.g.props
TasarimDesenleri/abstractV3/obj/abstractV3.csproj.nuget.g.targets
TasarimDesenleri/abstractV3/obj/project.assets.json
TasarimDesenleri/abstractV3/obj/project.nuget.cache
TasarimDesenleri/abstractV3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.AssemblyInfo.cs
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.assets.cache
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.deps.json
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.dll
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.exe
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.pdb
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.runtimeconfig.dev.json
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.runtimeconfig.json
TasarimDesenleri/abstractV4/bin/Debug/net5.0/ref/abstractV4.dll
TasarimDesenleri/abstractV4/obj/abstractV4.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV4/obj/abstractV4.csproj.nuget.g.props
TasarimDesenleri/abstractV4/obj/abstractV4.csproj.nuget.g.targets
TasarimDesenleri/abstractV4/obj/project.assets.json
TasarimDesenleri/abstractV4/obj/project.nuget.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.AssemblyInfo.cs
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.assets.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.csproj.CoreCompileInputs.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.csproj.FileListAbsolute.txt
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.dll
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.genruntimeconfig.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.pdb
TasarimDesenleri/abstractV4/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/abstractV4/obj/Debug/net5.0/ref/abstractV4.dll
TasarimDesenleri/abstractV5/bin/Debug/net5.0/abstractV5.deps.json
TasarimDesenleri/abstractV5/bin/Debug/net5.0/abstractV5.dll
TasarimDesenleri/abstractV5/bin/Debug/net5.0/abstractV5.exe
TasarimDesenleri/abstractV5/bin/Debug/net5.0/abstractV5.pdb
TasarimDesenleri/abstractV5/bin/Debug/net5.0/abstractV5.runtimeconfig.dev.json
TasarimDesenleri/abstractV5/bin/Debug/net5.0/abstractV5.runtimeconfig.json
TasarimDesenleri/abstractV5/bin/Debug/net5.0/ref/abstractV5.dll
TasarimDesenleri/abstractV5/obj/abstractV5.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV5/obj/abstractV5.csproj.nuget.g.props
TasarimDesenleri/abstractV5/obj/abstractV5.csproj.nuget.g.targets
TasarimDesenleri/abstractV5/obj/project.assets.json
TasarimDesenleri/abstractV5/obj/project.nuget.cache
TasarimDesenleri/abstractV5/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.AssemblyInfo.cs
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.assets.cache
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.csproj.CoreCompileInputs.cache
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.csproj.FileListAbsolute.txt
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.dll
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.genruntimeconfig.cache
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.pdb
TasarimDesenleri/abstractV5/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/abstractV5/obj/Debug/net5.0/ref/abstractV5.dll
TasarimDesenleri/abstractV6/bin/Debug/net5.0/abstractV6.deps.json
TasarimDesenleri/abstractV6/bin/Debug/net5.0/abstractV6.dll
TasarimDesenleri/abstractV6/bin/Debug/net5.0/abstractV6.exe
TasarimDesenleri/abstractV6/bin/Debug/net5.0/abstractV6.pdb
TasarimDesenleri/abstractV6/bin/Debug/net5.0/abstractV6.runtimeconfig.dev.json
TasarimDesenleri/abstractV6/bin/Debug/net5.0/abstractV6.runtimeconfig.json
TasarimDesenleri/abstractV6/bin/Debug/net5.0/ref/abstractV6.dll
TasarimDesenleri/abstractV6/obj/abstractV6.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV6/obj/abstractV6.csproj.nuget.g.props
TasarimDesenleri/abstractV6/obj/abstractV6.csproj.nuget.g.targets
TasarimDesenleri/abstractV6/obj/project.assets.json
TasarimDesenleri/abstractV6/obj/project.nuget.cache
TasarimDesenleri/abstractV6/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.AssemblyInfo.cs
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.assets.cache
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.csproj.CoreCompileInputs.cache
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.csproj.FileListAbsolute.txt
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.dll
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.genruntimeconfig.cache
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.pdb
TasarimDesenleri/abstractV6/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/abstractV6/obj/Debug/net5.0/ref/abstractV6.dll
TasarimDesenleri/AbstractFactory/bin/Debug/net5.0/ref/AbstractFactory.dll
TasarimDesenleri/AbstractFactory/obj/AbstractFactory.csproj.nuget.dgspec.json
TasarimDesenleri/AbstractFactory/obj/AbstractFactory.csproj.nuget.g.props
TasarimDesenleri/AbstractFactory/obj/AbstractFactory.csproj.nuget.g.targets
TasarimDesenleri/AbstractFactory/obj/project.assets.json
TasarimDesenleri/AbstractFactory/obj/project.nuget.cache
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.AssemblyInfo.cs
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.AssemblyInfoInputs.cache
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.assets.cache
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.csproj.AssemblyReference.cache
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.csproj.CoreCompileInputs.cache
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.csproj.FileListAbsolute.txt
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.dll
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.genruntimeconfig.cache
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/AbstractFactory.pdb
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/AbstractFactory/obj/Debug/net5.0/ref/AbstractFactory.dll
TasarimDesenleri/abstractV5/obj/Debug/net5.0/abstractV5.csproj.AssemblyReference.cache
TasarimDesenleri/abstractV6/obj/Debug/net5.0/abstractV6.csproj.AssemblyReference.cache
TasarimDesenleri/AbstractFactory/bin/Debug/net5.0/AbstractFactory.deps.json
TasarimDesenleri/AbstractFactory/bin/Debug/net5.0/AbstractFactory.dll
TasarimDesenleri/AbstractFactory/bin/Debug/net5.0/AbstractFactory.exe
TasarimDesenleri/AbstractFactory/bin/Debug/net5.0/AbstractFactory.pdb
TasarimDesenleri/AbstractFactory/bin/Debug/net5.0/AbstractFactory.runtimeconfig.dev.json
TasarimDesenleri/AbstractFactory/bin/Debug/net5.0/AbstractFactory.runtimeconfig.json
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.csproj.AssemblyReference.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.csproj.AssemblyReference.cache
TasarimDesenleri/.vs/TasarimDesenleri/DesignTimeBuild/.dtbcache.v2
TasarimDesenleri/.vs/TasarimDesenleri/v16/.suo
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/Dapper.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/DapperOrmFoodTrackingSample.deps.json
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/DapperOrmFoodTrackingSample.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/DapperOrmFoodTrackingSample.dll.config
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/DapperOrmFoodTrackingSample.exe
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/DapperOrmFoodTrackingSample.pdb
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/DapperOrmFoodTrackingSample.runtimeconfig.dev.json
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/DapperOrmFoodTrackingSample.runtimeconfig.json
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/System.Data.SqlClient.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/ref/DapperOrmFoodTrackingSample.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/runtimes/win-arm64/native/sni.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/runtimes/win-x64/native/sni.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/bin/Debug/net5.0/runtimes/win-x86/native/sni.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/DapperOrmFoodTrackingSample.csproj.nuget.dgspec.json
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/DapperOrmFoodTrackingSample.csproj.nuget.g.props
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/DapperOrmFoodTrackingSample.csproj.nuget.g.targets
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/project.assets.json
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/project.nuget.cache
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.AssemblyInfo.cs
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.AssemblyInfoInputs.cache
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.assets.cache
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.csproj.AssemblyReference.cache
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.csproj.CopyComplete
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.csproj.CoreCompileInputs.cache
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.csproj.FileListAbsolute.txt
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.dll
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.genruntimeconfig.cache
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/DapperOrmFoodTrackingSample.pdb
TasarimDesenleri/DapperOrmFoodTrackingSample/obj/Debug/net5.0/ref/DapperOrmFoodTrackingSample.dll
