TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.deps.json
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.dll
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.exe
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.pdb
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.runtimeconfig.dev.json
TasarimDesenleri/abstractV1/bin/Debug/net5.0/abstractV1.runtimeconfig.json
TasarimDesenleri/abstractV1/bin/Debug/net5.0/ref/abstractV1.dll
TasarimDesenleri/abstractV1/obj/abstractV1.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV1/obj/abstractV1.csproj.nuget.g.props
TasarimDesenleri/abstractV1/obj/abstractV1.csproj.nuget.g.targets
TasarimDesenleri/abstractV1/obj/project.assets.json
TasarimDesenleri/abstractV1/obj/project.nuget.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.AssemblyInfo.cs
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.assets.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.csproj.AssemblyReference.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.csproj.CoreCompileInputs.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.csproj.FileListAbsolute.txt
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.dll
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.genruntimeconfig.cache
TasarimDesenleri/abstractV1/obj/Debug/net5.0/abstractV1.pdb
TasarimDesenleri/abstractV1/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/abstractV1/obj/Debug/net5.0/ref/abstractV1.dll
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.deps.json
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.dll
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.exe
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.pdb
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.runtimeconfig.dev.json
TasarimDesenleri/abstractV2/bin/Debug/net5.0/abstractV2.runtimeconfig.json
TasarimDesenleri/abstractV2/bin/Debug/net5.0/ref/abstractV2.dll
TasarimDesenleri/abstractV2/obj/abstractV2.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV2/obj/abstractV2.csproj.nuget.g.props
TasarimDesenleri/abstractV2/obj/abstractV2.csproj.nuget.g.targets
TasarimDesenleri/abstractV2/obj/project.assets.json
TasarimDesenleri/abstractV2/obj/project.nuget.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.AssemblyInfo.cs
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.assets.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.csproj.AssemblyReference.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.csproj.CoreCompileInputs.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.csproj.FileListAbsolute.txt
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.dll
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.genruntimeconfig.cache
TasarimDesenleri/abstractV2/obj/Debug/net5.0/abstractV2.pdb
TasarimDesenleri/abstractV2/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/abstractV2/obj/Debug/net5.0/ref/abstractV2.dll
TasarimDesenleri/abstractV3/obj/abstractV3.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV3/obj/abstractV3.csproj.nuget.g.props
TasarimDesenleri/abstractV3/obj/abstractV3.csproj.nuget.g.targets
TasarimDesenleri/abstractV3/obj/project.assets.json
TasarimDesenleri/abstractV3/obj/project.nuget.cache
TasarimDesenleri/abstractV3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.AssemblyInfo.cs
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.assets.cache
TasarimDesenleri/abstractV3/obj/Debug/net5.0/abstractV3.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.deps.json
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.dll
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.exe
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.pdb
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.runtimeconfig.dev.json
TasarimDesenleri/abstractV4/bin/Debug/net5.0/abstractV4.runtimeconfig.json
TasarimDesenleri/abstractV4/bin/Debug/net5.0/ref/abstractV4.dll
TasarimDesenleri/abstractV4/obj/abstractV4.csproj.nuget.dgspec.json
TasarimDesenleri/abstractV4/obj/abstractV4.csproj.nuget.g.props
TasarimDesenleri/abstractV4/obj/abstractV4.csproj.nuget.g.targets
TasarimDesenleri/abstractV4/obj/project.assets.json
TasarimDesenleri/abstractV4/obj/project.nuget.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.AssemblyInfo.cs
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.AssemblyInfoInputs.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.assets.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.csproj.CoreCompileInputs.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.csproj.FileListAbsolute.txt
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.dll
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.GeneratedMSBuildEditorConfig.editorconfig
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.genruntimeconfig.cache
TasarimDesenleri/abstractV4/obj/Debug/net5.0/abstractV4.pdb
TasarimDesenleri/abstractV4/obj/Debug/net5.0/apphost.exe
TasarimDesenleri/abstractV4/obj/Debug/net5.0/ref/abstractV4.dll
